// IBM Design Colors
@use "./colors-ibm" as ibm;

html,
body {
    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    select#mode {
        max-width: 8rem;
        cursor: help;
        container: body;
    }
}

nav {
    h1 {
        line-height: 1;

        .navbar-brand {
            font-weight: 500;
        }
    }

    input#query {
        min-width: 40vw;
        max-width: 60vw;
    }
}

nav.navbar-contrast {
    background-color: ibm.$white;
    border-bottom: 2px solid;
}

main#home {
    h2#main-brand {
        font-size: 3.6rem;
    }

    form {
        min-width: 60vw;
        max-width: 70vw;
        margin: 0 auto;
    }
}

main#results {
    h2#search-results {
        font-size: 1.3rem;
    }

    article.audio-clip {
        h2 {
            font-size: 1.2rem;
            font-weight: 500;
            line-height: unset;
        }

        .download-info {
            .btn.disabled {
                cursor: not-allowed;
                pointer-events: all !important;
            }
        }
    }
}

footer {
    .footer.links {
        ul {
            list-style-type: none;

            li {
                display: inline;
            }
        }
    }
}

[data-bs-theme="dark"] {
    nav.navbar-contrast {
        background-color: ibm.$black;
    }
}

@media only screen and (max-width: 768px) {
    main#home {
        form {
            max-width: 85vw;
        }
    }
}
