{
    "block_ai_scrapers": true,
    "git_repository": "https://github.com/questionlp/search.marsupialgurgle.com",
    "max_query_length": 120,
    "mg_audio_url_prefix": "https://audio.marsupialgurgle.com",
    "results_per_page": 12,
    "site_url": "",
    "time_zone": "America/Los_Angeles",
    "umami_analytics": {
        "enabled": false,
        "url": "",
        "data_website_id": "",
        "data_domains": "search.marsupialgurgle.com",
        "data_auto_track": true
    },
    "use_minified_css": true
}
