{% extends "base.html" %}

{% block page_title %}
{% if search_query %}{{ search_query }}{% else %}Search{% endif %} | Hey Gurgle: Marsupial Gurgle Audio Archive Search
{% endblock page_title %}

{% block content %}
{% include "core/nav.html" %}

<main id="results" class="mt-3 mb-1">
    <span class="d-none" id="content-top"></span>
    <div class="container-fluid p-4 pt-2">
{% if search_query and not valid_search_mode %}
        <div class="mt-2 mb-4">
            <div class="alert alert-warning mx-3" role="alert">
                <i class="bi bi-exclamation-triangle pe-1"></i><span class="d-none">Information</span>
                The selected search mode is not available or not supported. The default search mode was used instead.
            </div>
        </div>
{% endif %}

{% if search_query and search_results %}
    {% for clip in search_results %}
        {% include "core/clip.html" %}
    {% endfor %}

    {% include "core/pagination.html" %}
{% elif error == "ProgrammingError" %}
        <div class="mt-2 mb-4">
            <div class="alert alert-warning mx-3" role="alert">
                <i class="bi bi-exclamation-triangle pe-1"></i><span class="d-none">Warning</span>
                There was an issue with handling the search query <q>{{ search_query }}</q>. Please
                modify your search query and try again.
            </div>
        </div>
{% elif error == "DatabaseError" %}
        <div class="mt-2 mb-4">
            <div class="alert alert-warning mx-3" role="alert">
                <i class="bi bi-exclamation-triangle pe-1"></i><span class="d-none">Warning</span>
                Your search could not be performed due to a database server error. Please try your
                search again at a later time.
            </div>
        </div>
{% elif search_query and not search_results %}
        <div class="mt-2 mb-4">
            <div class="alert alert-info mx-3" role="alert">
                <i class="bi bi-info-circle pe-1"></i><span class="d-none">Information</span>
                No search results found for <q>{{ search_query }}</q>.
                {% if search_mode == 2 %}
                Try the <a href="{{ url_for('main.search', query=search_query, mode=1) }}">search again</a>
                with natural language search mode.
                {% endif %}
            </div>
        </div>
{% elif not search_query %}
        <div class="mt-2 mb-4">
            <div class="alert alert-info mx-3" role="alert">
                <i class="bi bi-info-circle pe-1"></i><span class="d-none">Information</span>
                No search query was provided.
            </div>
        </div>
{% endif %}
    </div>
</main>
{% endblock content %}
