<nav class="navbar" id="main-nav">
    <div class="container-fluid justify-content-start">
        <h1 class="invisible pb-1"><a class="navbar-brand align-middle">Hey Gurgle</a></h1>
        <div class="mx-auto"></div>
        <div class="dropdown end-0 me-3 bd-mode-toggle">
            <button class="btn btn-link nav-link dropdown-toggle d-flex align-items-center" id="bd-theme" type="button"
                title="Toggle color theme" data-bs-toggle="dropdown" data-bs-display="static"
                aria-label="Toggle Theme (Auto)" aria-expanded="false">
                <i class="bi bi-circle-half"></i>
                <span class="d-none" id="bd-theme-text">Toggle theme</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end z-3" id="theme-dropdown">
                <li>
                    <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light"
                        aria-pressed="false">
                        <i class="bi bi-sun-fill me-2"></i> Light
                    </button>
                </li>
                <li>
                    <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark"
                        aria-pressed="false">
                        <i class="bi bi-moon-stars-fill me-2"></i> Dark
                    </button>
                </li>
                <li>
                    <button type="button" class="dropdown-item d-flex align-items-center active"
                        data-bs-theme-value="auto" aria-pressed="true">
                        <i class="bi bi-circle-half me-2"></i> Auto
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
